
<add-endpoint (OnAdd)="AddEndPoint($event)"></add-endpoint>


<table class="table table-bordered table-hover m-2">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>URL</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let ep of EndPoints">
      <td>{{ep._id}}</td>
      <td>{{ep.name}}</td>
      <td>{{ep.url}}</td>
      <td>
        <snapshots-chart [endpoint]="ep"></snapshots-chart>
      </td>
      <td>

          <a class="btn btn-primary mr-2" (click)="Edit(ep)">
                    <i class="fas fa-edit"></i>
          </a>
      </td>
      <td>
         <a class="btn  btn-danger mr-2" (click)="Delete(ep)">
                  <i class="fas fa-trash"></i>
         </a>
      </td>
    </tr>

  </tbody>
</table>

