<!-- bootstrap layouting is here or inside each control ? -->
<div class="container">
  <div class="row">
    <!-- how should these two components communicate  -->
    <nav class="nav navbar bg-dark text-light">
      <a class="btn text-light btn-outline-warning" routerLinkActive="active" routerLink="/endpoints">Home</a>
      <!-- <a class="btn text-light btn-outline-warning" routerLinkActive="active" routerLink="/customers">Customers</a>
      <a class="btn text-light btn-outline-warning" routerLinkActive="active" routerLink="/settings">Settings</a> -->
  </nav>

    <router-outlet></router-outlet>

  </div>
</div>


